[flake8]
# it's not a bug that we aren't using all of hacking, ignore:
# F812: list comprehension redefines ...
# H101: Use TODO(NAME)
# H202: assertRaises Exception too broad
# H233: Python 3.x incompatible use of print operator
# H301: one import per line
# H306: imports not in alphabetical order (time, os)
# H401: docstring should not start with a space
# H403: multi line docstrings should end on a new line
# H404: multi line docstring should start without a leading new line
# H405: multi line docstring summary not separated with an empty line
# H501: Do not use self.__dict__ for string formatting
ignore=F812,H101,H202,H233,H301,H306,H401,H403,H404,H405,H501,E203,E266,E501,W503,F403,F401,F405,E231,F841,C901,F821,E722,E714,E713,E711,W291,E402,W605,F632
max-line-length=79
select=B,C,E,F,W,T4,B9
exclude =
    .git,
    __pycache__,
    */tests/*,
    docs/source/conf.py,
    old,
    build,
    */migrations/*,
    dist
max-complexity = 18
